/* Page styles */
:root {
  --lightgrey: #bbc2cf;
  --lighttaupe: #cbc0d3;
  --lighttan: #efd3d7;
  --lightpink: #feeafa;
  --lightlavendar: #dee2ff;
  --black: #000;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: var(--lightlavendar);
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

/* Header style */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--black);
  border-radius: 0;
  border-bottom: 10px solid var(--black);
}

/* Planner styles */
.textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--black);
  border-left: 1px dashed var(--black);
  padding: 10px;
  font-weight: bold;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #ffffff;
}

.hour {
  background-color: var(--lightpink);
  color: #000000;
  border-top: 1px dashed var(--black);
}

.past {
  background-color: var(--lightgrey);
  color: var(--black);
}

.present {
  background-color: var(--lighttan);
  color: var(--black);
}

.future {
  background-color: var(--lighttaupe);
  color: var(--black);
}

.saveBtn {
  border-left: 1px dashed black;
  border-right: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--lightpink);
  color: var(--black);
  font-size: 45px;
}

.saveBtn i:hover {
  font-size: 55px;
  transition: all .3s ease-in-out;
}
